.landing_btn {
    background-color: #4824d6;
    width: fit-content;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: 200ms ease-out;
    animation-duration: 2ms;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 30px
}

.landing_btn:hover {
    transform: scale(1.1);
}