.home_nav_container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding: 3vh 80px;
    background-color: #ffffff;
    width: 100%;
    z-index: 200;
}

.nav_link {
    display: flex;
    align-items: center;
    font-size: 12px;
    height: fit-content;
    white-space: nowrap;
    text-decoration: none;
    color: black;
}

.sticky_navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 200;
    background-color: #fff;
    transition: top 0.5s;
}
.sticky_navbar_hidden {
    position: fixed;
    top: -100px;
    width: 100%;
    z-index: 200;
    background-color: #fff;
    transition: top 0.5s;
}

@media screen and (max-width: 1000px) {
    .home_nav_container {
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        padding: 30px 80;
    }

    .nav_link {
        display: flex;
        align-items: center;
        font-size: 14px;
        height: fit-content;
        white-space: nowrap;
        text-decoration: none;
        color: black;
    }
}

.navBar_large {
    display: flex;
    background: #fff;
    padding: 10px 0;
    margin: auto;
    align-items: center;
    box-shadow: #00000030 2px 2px;
    z-index: 20;
    max-height: 78px;
    position: fixed;
    top: env(safe-area-inset-top);
    width: 100%;
}

.search_bar {
    height: 54px;
    max-width: 784px !important;
    min-width: 200px !important;
    font-size: 15px !important;
    outline: unset;
}

.search_header_container {
    z-index: 20;
    position: fixed;
    top: env(safe-area-inset-top);
}
